<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837771691150-3ajnbgtqhbd6opvoroqj54pk550tug6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837771691150-3ajnbgtqhbd6opvoroqj54pk550tug6i</string>
	<key>API_KEY</key>
	<string>AIzaSyDlPzk38NJbo6CSOSNb0AeffY4rfTjo8vc</string>
	<key>GCM_SENDER_ID</key>
	<string>837771691150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitLab1</string>
	<key>PROJECT_ID</key>
	<string>fitlab-435d6</string>
	<key>STORAGE_BUCKET</key>
	<string>fitlab-435d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837771691150:ios:6ca3c319b10c9bca68f5df</string>
</dict>
</plist>